# Israeli elections

- The elections for the 19th kneset: 22/01/2013
- The elections for the 20th kneset: 17/03/2017
- The elections for the 21st kneset: 09/04/2019
- The elections for the 22nd kneset: 17/09/2019

In [1]:
import numpy as np 
import pandas as pd

In [70]:
excel_file = "22kneset_ballot_boxes.xlsx"
df = pd.read_excel(excel_file)
df.rename(columns={'סמל ועדה':'committee symbol','שם ישוב':'settlement name','סמל ישוב':'settlement symbol','בזב':'suffrages','מצביעים':'voters','פסולים':'disqualified','כשרים':'qualified'}, inplace=True)

df['vote_percentage'] = df['voters'] / df['suffrages'] * 100

df.head(5)

,committee symbol,ברזל,settlement name,settlement symbol,קלפי,ריכוז,שופט,suffrages,voters,disqualified,...,ףז,צ,צן,ץ,ק,קך,קץ,רק,שס,vote_percentage
0,18,9797,אבו ג'ווייעד (שבט),967,1.0,1,0,559,113,2,...,0,0,0,0,1,0,0,0,0,20.214669
1,18,9798,אבו ג'ווייעד (שבט),967,2.0,1,0,751,224,1,...,0,0,0,0,1,1,0,0,0,29.826897
2,18,9799,אבו ג'ווייעד (שבט),967,3.0,1,0,651,205,6,...,0,0,0,0,1,0,0,0,0,31.490015
3,2,733,אבו גוש,472,1.0,1,0,525,268,3,...,0,1,0,0,0,0,0,0,5,51.047619
4,2,734,אבו גוש,472,2.0,1,0,686,363,6,...,0,0,0,0,2,1,0,0,6,52.915452

In [71]:
print(df.axes[1])
start_idx = df.columns.get_loc('qualified') + 1
end_idx = df.columns.get_loc('vote_percentage')
parties_columns = df.axes[1][start_idx:end_idx]

df_parties_columns = df[parties_columns]
df_parties_columns.head(5)

Index(['committee symbol', 'ברזל', 'settlement name', 'settlement symbol',
       'קלפי', 'ריכוז', 'שופט', 'suffrages', 'voters', 'disqualified',
       'qualified', 'אמת', 'ג', 'ודעם', 'ז', 'זכ', 'זן', 'זץ', 'טב', 'י', 'יז',
       'ינ', 'יף', 'יק', 'כ', 'כי', 'כף', 'ל', 'מחל', 'מרצ', 'נ', 'נך', 'נץ',
       'פה', 'ףז', 'צ', 'צן', 'ץ', 'ק', 'קך', 'קץ', 'רק', 'שס',
       'vote_percentage'],
      dtype='object')

,אמת,ג,ודעם,ז,זכ,זן,זץ,טב,י,יז,...,פה,ףז,צ,צן,ץ,ק,קך,קץ,רק,שס
0,0,1,100,0,0,0,0,0,0,0,...,9,0,0,0,0,1,0,0,0,0
1,3,0,202,0,0,0,0,0,0,0,...,12,0,0,0,0,1,1,0,0,0
2,0,0,196,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
3,8,0,194,0,0,0,0,0,0,2,...,25,0,1,0,0,0,0,0,0,5
4,5,0,290,0,0,0,0,0,0,5,...,33,0,0,0,0,2,1,0,0,6

In [72]:
# get the column name of max values in every row
max_party_per_row = df_parties_columns.idxmax(axis=1)
df['winning_party'] = max_party_per_row

df.head(10)

,committee symbol,ברזל,settlement name,settlement symbol,קלפי,ריכוז,שופט,suffrages,voters,disqualified,...,צ,צן,ץ,ק,קך,קץ,רק,שס,vote_percentage,winning_party
0,18,9797,אבו ג'ווייעד (שבט),967,1.0,1,0,559,113,2,...,0,0,0,1,0,0,0,0,20.214669,ודעם
1,18,9798,אבו ג'ווייעד (שבט),967,2.0,1,0,751,224,1,...,0,0,0,1,1,0,0,0,29.826897,ודעם
2,18,9799,אבו ג'ווייעד (שבט),967,3.0,1,0,651,205,6,...,0,0,0,1,0,0,0,0,31.490015,ודעם
3,2,733,אבו גוש,472,1.0,1,0,525,268,3,...,1,0,0,0,0,0,0,5,51.047619,ודעם
4,2,734,אבו גוש,472,2.0,1,0,686,363,6,...,0,0,0,2,1,0,0,6,52.915452,ודעם
5,2,735,אבו גוש,472,3.0,2,0,579,335,3,...,1,0,0,1,1,1,0,18,57.858377,ודעם
6,2,736,אבו גוש,472,4.0,4,0,761,408,10,...,0,1,0,0,0,2,1,3,53.613666,ודעם
7,2,737,אבו גוש,472,5.0,2,0,541,234,7,...,0,0,1,0,0,0,2,3,43.253235,ודעם
8,2,738,אבו גוש,472,6.0,4,0,663,344,12,...,0,0,0,0,0,1,0,2,51.885370,ודעם
9,2,739,אבו גוש,472,7.0,1,0,553,295,8,...,0,0,0,0,0,1,0,12,53.345389,ודעם

---------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------

In [252]:
df = pd.read_excel('19kneset.xlsx')
df.head(5)

,שם ישוב,סמל ישוב,בזב,מצביעים,פסולים,כשרים,אמת,ג,ד,הי,...,פך,פנ,פץ,ץ,צפ,צק,ק,קנ,רק,שס
0,אבו ג'ווייעד (שבט,967,1443,217,11,206,2,0,13,0,...,0,0,0,0,1,0,0,0,0,4
1,אבו גוש,472,3889,1844,79,1765,118,7,644,0,...,0,3,3,7,31,4,4,4,1,106
2,אבו סנאן,473,7886,4732,65,4667,221,3,372,1,...,0,2,4,7,292,2,15,8,6,366
3,אבו עבדון (שבט),958,106,69,0,69,0,0,7,0,...,0,0,0,0,0,0,0,0,0,0
4,אבו קורינאת (שבט),968,2386,660,10,650,5,0,45,0,...,0,2,2,0,2,1,6,3,5,79

In [253]:
df.axes

[RangeIndex(start=0, stop=1184, step=1),
 Index(['שם ישוב', 'סמל ישוב', 'בזב', 'מצביעים', 'פסולים', 'כשרים', 'אמת', 'ג',
        'ד', 'הי', 'הפ', 'הק', 'ו', 'ז', 'זה', 'זך', 'טב', 'יק', 'כן', 'מחל',
        'מרץ', 'נ', 'ני', 'נץ', 'נק', 'עם', 'פ', 'פה', 'פז', 'פי', 'פך', 'פנ',
        'פץ', 'ץ', 'צפ', 'צק', 'ק', 'קנ', 'רק', 'שס'],
       dtype='object')]

In [254]:
df.rename(columns={'סמל ועדה': 'committee symbol', 'שם ישוב': 'settlement name', 'סמל ישוב': 'settlement symbol', 'בזב': 'suffrages', 'מצביעים':'voters', 'פסולים':'disqualified', 'כשרים':'qualified'}, inplace=True)
print(df.axes)
df.head(5)

[RangeIndex(start=0, stop=1184, step=1), Index(['settlement name', 'settlement symbol', 'suffrages', 'voters',
       'disqualified', 'qualified', 'אמת', 'ג', 'ד', 'הי', 'הפ', 'הק', 'ו',
       'ז', 'זה', 'זך', 'טב', 'יק', 'כן', 'מחל', 'מרץ', 'נ', 'ני', 'נץ', 'נק',
       'עם', 'פ', 'פה', 'פז', 'פי', 'פך', 'פנ', 'פץ', 'ץ', 'צפ', 'צק', 'ק',
       'קנ', 'רק', 'שס'],
      dtype='object')]

,settlement name,settlement symbol,suffrages,voters,disqualified,qualified,אמת,ג,ד,הי,...,פך,פנ,פץ,ץ,צפ,צק,ק,קנ,רק,שס
0,אבו ג'ווייעד (שבט,967,1443,217,11,206,2,0,13,0,...,0,0,0,0,1,0,0,0,0,4
1,אבו גוש,472,3889,1844,79,1765,118,7,644,0,...,0,3,3,7,31,4,4,4,1,106
2,אבו סנאן,473,7886,4732,65,4667,221,3,372,1,...,0,2,4,7,292,2,15,8,6,366
3,אבו עבדון (שבט),958,106,69,0,69,0,0,7,0,...,0,0,0,0,0,0,0,0,0,0
4,אבו קורינאת (שבט),968,2386,660,10,650,5,0,45,0,...,0,2,2,0,2,1,6,3,5,79

In [256]:
sums = df.sum(axis=0) # sum all columns, return series
total_suffrages = sums['suffrages']
total_qualified = sums['qualified']
total_voting_percentage = total_qualified / total_suffrages * 100

print("Suffrages: " + str(total_suffrages))
print("Qualified Voters: " + str(total_qualified))
print("voting percentage: " + str(total_voting_percentage))

Suffrages: 5656705
Qualified Voters: 3579793
voting percentage: 63.28406731480606

In [257]:
data = sums[5::]
df_parties = pd.DataFrame({'party':data.index, 'voters':data.values})
df_parties['percentage'] = df_parties['voters'] / total_qualified * 100
df_parties = df_parties.sort_values('percentage', ascending=False)
df_parties = df_parties.reset_index(drop=True)
df_parties.head(15)

        party   voters percentage
0   qualified  3579793        100
1         מחל   833083    23.2718
2          פה   508896    14.2158
3         אמת   408714    11.4173
4          שס   316366    8.83755
5          טב   313812    8.76621
6           ג   190840    5.33103
7          צפ   179936    5.02644
8         מרץ   164186    4.58647
9          עם   136016    3.79955
10          ו   111595    3.11736
11          ד    95624    2.67122
12         כן    74223    2.07339
13         נץ    61662     1.7225
14          ץ    43109    1.20423

In [82]:
hold_percent = 3.25
hold_number = total_qualified * 3.25 / 100
print("hold percent: " + str(hold_percent))
print("hold number: " + str(hold_number))

hold percent: 3.25
hold number: 140051.275

In [84]:
df_parties = df_parties.loc[df_parties['percentage'] >= 3.25]
print(len(df_parties.index))
df_parties

9

  party   voters percentage mandates_float  mandates_int  mandates_final
0    פה  1148700    25.9267        32.0256            32              33
1   מחל  1111535    25.0879        30.9894            30              32
2  ודעם   470611    10.6219        13.1206            13              13
3    שס   329834    7.44451        9.19572             9               9
4     ל   309688    6.98981        8.63405             8               8
5     ג   268688    6.06442        7.49098             7               7
6    טב   260339    5.87598        7.25821             7               7
7   אמת   212529    4.79688        5.92528             5               6
8   מרצ   192261    4.33942        5.36021             5               5

In [85]:
qualified_for_count = df_parties.sum(axis=0)['voters']
mandate_votes = qualified_for_count / 120

df_parties['mandates_float'] = df_parties['voters'] / mandate_votes
df_parties['mandates_int'] = (df_parties['mandates_float']).astype(int)
mandates = df_parties.sum(axis=0)['mandates_int']
missing_mandates = 120 - mandates

#add missing mandates according to the elections committee
missing_mandates = {}

df_parties['mandates_final'] = df_parties['mandates_int']
for k,v in missing_mandates.items():
    df_parties.loc[df_parties['party']==k, ['mandates_final']] += v

df_parties

  party   voters percentage mandates_float  mandates_int  mandates_final
0    פה  1148700    25.9267        32.0256            32              32
1   מחל  1111535    25.0879        30.9894            30              30
2  ודעם   470611    10.6219        13.1206            13              13
3    שס   329834    7.44451        9.19572             9               9
4     ל   309688    6.98981        8.63405             8               8
5     ג   268688    6.06442        7.49098             7               7
6    טב   260339    5.87598        7.25821             7               7
7   אמת   212529    4.79688        5.92528             5               5
8   מרצ   192261    4.33942        5.36021             5               5

In [189]:
s = pd.Series(['1', '2', '3','4'], index=['a', 'b', 'c','d'])
s

1    a
2    b
3    c
4    d
dtype: object

In [201]:
if 'a' in s.keys():
    s = s.drop(labels=['a'])
s

2    b
3    c
4    d
dtype: object

In [233]:
s = pd.Series(['1', '2', '3','4'], index=['a', 'b', 'c','d'])
df = pd.DataFrame({'ind':s.index, 'val':s.values})
df

  ind val
0   a   1
1   b   2
2   c   3
3   d   4

In [235]:
j = df.index[df['ind'] == 'z']
j

Int64Index([], dtype='int64')

In [220]:
i = df.index[df['ind'] == 'a']
i

Int64Index([0], dtype='int64')

In [221]:
df = df.drop(df.index[i])
df

  ind val
1   b   2
2   c   3
3   d   4

In [236]:
s = pd.Series(['100','200','300','400'], index=['disqualified', 'qualified', 'party1', 'party2'])
df = pd.DataFrame({'ind':s.index, 'val':s.values})

i = df.index[df['ind'] == 'qualified']
df = df.drop(df.index[i])
df

            ind  val
0  disqualified  100
2        party1  300
3        party2  400